@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$md: 768px;
@media (min-width: $md) {
    .p-md-4-5{
        padding: 2.5rem !important;
    }
    .py-md-6{
        padding-top: 3.5rem !important;
        padding-bottom: 3.5rem !important;
    }
}
body{
    background-color: #fafafa;
    font-family: 'Commissioner', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 700;
    color: #000;
}
.h1{
    color:hsl(0, 0%, 0%);
}
button{
    outline: 0;
}
p{
    font-size: 1rem;
    line-height: 1.8rem;
    &.accent{
        color: hsl(176, 50%, 47%);
    }
}
progress{
    -webkit-appearance: none;
   appearance: none;
   &::-webkit-progress-bar{
       background-color: #f4f4f4;
       border-radius: 1rem;
   }
   &::-webkit-progress-value{
       background-color: hsl(176, 50%, 47%);
       border-radius: 1rem;
   }
}
.myBtn{
    border: 0;
    border-radius: 2rem;
    font-weight: 700;
    padding: .95rem 2.5rem;
    text-decoration: none;
    display: inline-block;
    &.primary{
        background-color: hsl(176, 50%, 47%);
        color: #fff;
        &:hover{
            background-color: hsl(176, 72%, 28%);
        }
    }
    &.secondary{
        background-color: #f4f4f4;
        color: hsl(0, 0%, 48%);
    }
    &.bookmark{
        position: relative;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 0;
        @media (min-width: $md) {
            padding-left: 3rem;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-50%);
            width: 55px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-radius: 50%;
            transition: opacity 0.3s ease;
        }
        &::before{
            background-image: url('../images/icon-bookmark.svg');
            z-index: 1;
        }
        &::after{
            background-image: url('../images/icon-bookmark-active.svg');
            z-index: 2;
            opacity: 0;
        }
        &.is-active{
            background-color: #f4f8f9;
            color: hsl(176, 72%, 28%);
            &::before{
                opacity: 0;
            }
            &::after{
                opacity: 1;
            }
        }
    }
}
a{
    cursor: pointer;
}
p{
    color: hsl(0, 0%, 48%);
}
header{
    height: 50vh;
    background-image: url('../images/image-hero-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    @media (min-width: $md) {
        background-image: url('../images/image-hero-desktop.jpg');
    }
    .navbar{
        max-width: 1400px;
        margin: 0 auto;
    }
}
#hamburger{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}
.nav-list{
    background: #fff;
    border-radius: .7rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    display: none;
    top: -7rem;
    position: fixed;
    z-index: 99;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 7rem;
    &.is-active{
        animation: fadeDOWN 0.3s linear forwards;
    }
    @media (min-width: $md) {
        all: unset;
    }
    a{
        color: #000;
        text-decoration: none;
        @media (min-width: $md) {
            color: #fff;
        }
        &:not(:last-child){
            border-bottom: 2px solid #ececec;
            @media (min-width: $md) {
                border: unset;
            }
        }
    }
}
.main-border{
    border: 2px solid #f3f3f3;
    border-radius: .5rem;
    &.alt{
        border-color: #dbdbdb;
    }
}
main{
    >section{
        position: relative;
        z-index: 1;
        >.row{
            >.col{
                background-color: #fafafa;
                max-width: 950px;
                align-self: center;
                position: relative;
            }
        }
        &:first-child{
            margin-top: -7rem;
            &::before{
                content: '';
                position: absolute;
                z-index: 2;
                width: 55px;
                height: 55px;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: hsl(0, 0%, 0%);
                border-radius: 50%;
                background-image: url('../images/logo-mastercraft.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
}

.stats{
    .h1{
        display: block;
    }
    .col{
        position: relative;
        &:not(:first-child){
            &::before{
                content: '';
                display: block;
                width: 25%;
                height: 1px;
                background-color: #dbdbdb;
                margin: 1.5rem auto;
                @media (min-width: $md) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    width: 1px;
                    height: 100%;
                }
            }
        }
    }
}

.oos{
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 100%, 0.5);
    }
    .myBtn{
        background-color:hsl(0, 0%, 48%);
    }
}

// animations/generic
.body-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .6);
}

@keyframes fadeDOWN {
    from {opacity: 0; visibility: hidden; display: none; top: -7rem;}
    to {opacity: 1; visibility: visible; display: block; top: 0;}
  }