@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@media (min-width: 768px) {
  .p-md-4-5 {
    padding: 2.5rem !important;
  }

  .py-md-6 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
  }
}
body {
  background-color: #fafafa;
  font-family: "Commissioner", sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  color: #000;
}

.h1 {
  color: black;
}

button {
  outline: 0;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}
p.accent {
  color: #3cb4ac;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
progress::-webkit-progress-bar {
  background-color: #f4f4f4;
  border-radius: 1rem;
}
progress::-webkit-progress-value {
  background-color: #3cb4ac;
  border-radius: 1rem;
}

.myBtn {
  border: 0;
  border-radius: 2rem;
  font-weight: 700;
  padding: 0.95rem 2.5rem;
  text-decoration: none;
  display: inline-block;
}
.myBtn.primary {
  background-color: #3cb4ac;
  color: #fff;
}
.myBtn.primary:hover {
  background-color: #147b74;
}
.myBtn.secondary {
  background-color: #f4f4f4;
  color: #7a7a7a;
}
.myBtn.bookmark {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .myBtn.bookmark {
    padding-left: 3rem;
  }
}
.myBtn.bookmark::before, .myBtn.bookmark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%);
  width: 55px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}
.myBtn.bookmark::before {
  background-image: url("../images/icon-bookmark.svg");
  z-index: 1;
}
.myBtn.bookmark::after {
  background-image: url("../images/icon-bookmark-active.svg");
  z-index: 2;
  opacity: 0;
}
.myBtn.bookmark.is-active {
  background-color: #f4f8f9;
  color: #147b74;
}
.myBtn.bookmark.is-active::before {
  opacity: 0;
}
.myBtn.bookmark.is-active::after {
  opacity: 1;
}

a {
  cursor: pointer;
}

p {
  color: #7a7a7a;
}

header {
  height: 50vh;
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/image-hero-desktop.jpg");
  }
}
header .navbar {
  max-width: 1400px;
  margin: 0 auto;
}

#hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.nav-list {
  background: #fff;
  border-radius: 0.7rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  display: none;
  top: -7rem;
  position: fixed;
  z-index: 99;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 7rem;
}
.nav-list.is-active {
  -webkit-animation: fadeDOWN 0.3s linear forwards;
          animation: fadeDOWN 0.3s linear forwards;
}
@media (min-width: 768px) {
  .nav-list {
    all: unset;
  }
}
.nav-list a {
  color: #000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-list a {
    color: #fff;
  }
}
.nav-list a:not(:last-child) {
  border-bottom: 2px solid #ececec;
}
@media (min-width: 768px) {
  .nav-list a:not(:last-child) {
    border: unset;
  }
}

.main-border {
  border: 2px solid #f3f3f3;
  border-radius: 0.5rem;
}
.main-border.alt {
  border-color: #dbdbdb;
}

main > section {
  position: relative;
  z-index: 1;
}
main > section > .row > .col {
  background-color: #fafafa;
  max-width: 950px;
  align-self: center;
  position: relative;
}
main > section:first-child {
  margin-top: -7rem;
}
main > section:first-child::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 55px;
  height: 55px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
  background-image: url("../images/logo-mastercraft.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stats .h1 {
  display: block;
}
.stats .col {
  position: relative;
}
.stats .col:not(:first-child)::before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #dbdbdb;
  margin: 1.5rem auto;
}
@media (min-width: 768px) {
  .stats .col:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 1px;
    height: 100%;
  }
}

.oos {
  position: relative;
  z-index: 1;
}
.oos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.oos .myBtn {
  background-color: #7a7a7a;
}

.body-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes fadeDOWN {
  from {
    opacity: 0;
    visibility: hidden;
    display: none;
    top: -7rem;
  }
  to {
    opacity: 1;
    visibility: visible;
    display: block;
    top: 0;
  }
}

@keyframes fadeDOWN {
  from {
    opacity: 0;
    visibility: hidden;
    display: none;
    top: -7rem;
  }
  to {
    opacity: 1;
    visibility: visible;
    display: block;
    top: 0;
  }
}/*# sourceMappingURL=styles.css.map */